.main{

}

#sec-im1{
    height: 190px;
    width: 360px;

    padding-top: 80px;
    margin-left: 290px;
  
}
#sec-im2{
    height: 620px;
    width: 650px;
    margin-right: 90px;
    padding-left: 70px;
}
#h1-h2{
    padding-left: 320px;
}
.sec1{
    display: flex;
    justify-content: space-around;
}
.img3-4{
display: flex;
justify-content: space-around;
padding-top: 30px;
}
.img3{
    height: 100px;
    width: 250px;
    padding-left: 110px;
}
.img4{
    height: 100px;
    width: 250px;
}
#heading-1{
    font-size: 25px;
    font-weight: bold;
    margin-left: -100px;
    letter-spacing: 1px;
    font-family: sans-serif;

}
#heading2{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: -50;
}
